<!doctype html>
<html lang="es">
  <head>
    <%- include('../partials/head.ejs') %>
    <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/patientDetail.css">
  </head>
  <body>
    <header>
      <%- include('../partials/navBar.ejs') %>
    </header>
    <div class="container-fluid">             
        <section class="row">
          <!-- Cuerpo principal -->
          <h1 class="col-12 mt-5 text-center">DETALLE DEL PACIENTE</h1>
          
          
          <article id="article" class="col-12">       
            <!--Info-->
              <!--Nombre y apellidoo-->
             <!--Marca y modelo-->
             <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
               <div class="card-title m-0 pr-5"><h4>Nombre: <%= paciente.first_name %></h4></div>
               <div class="card-title m-0 "><h4>Apellido: <%= paciente.last_name %></h4></div>
                <div class="card-title m-0 pl-5"><h4>Genero: <%= paciente.gender %></h4></div>
              </div>
              <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
                <div class="card-title m-0 pr-5"><h4>Obra social: <%= paciente.medical_insurance %></h4></div>
                <div class="card-title m-0 "><h4>Número: <%= paciente.insurance_number %></h4></div>
               </div>
               <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
                <div class="card-title m-0 "><h4>Nacimiento: <%= paciente.date %></h4></div>
                <div class="card-title m-0 pl-5"><h4>Email: <%= paciente.email %></h4></div>
                
               </div>
               <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
                <div class="card-title m-0 "><h4>Dirección: <%= paciente.adress %></h4></div>
                <div class="card-title m-0 pl-5"><h4>Teléfono: <%= paciente.telephone %></h4></div>
               </div>
               <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
                <div class="card-title m-0"><h4>Diabetes: <%= paciente.diabetes %></h4></div>
                <div class="card-title m-0 pl-5"><h4>Dlp: <%= paciente.dlp %></h4></div>
                <div class="card-title m-0  pl-5"><h4>HTA: <%= paciente.hta %></h4></div>
                <div class="card-title m-0 pl-5"><h4>CRM: <%= paciente.crm %></h4></div>
               </div>
               <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
                <div class="card-title m-0 pr-5"><h4>Aueurisma aorta: <%= paciente.aortic_aneurysm %></h4></div>
                <div class="card-title m-0 "><h4>IC: <%= paciente.ic %></h4></div>
                <div class="card-title m-0 pl-5"><h4>IRC: <%= paciente.irc %></h4></div>
                <div class="card-title m-0 pl-5"><h4>Obecidad: <%= paciente.obesity %></h4></div>
               </div>
               <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
                <div class="card-title m-0 "><h4>EVP: <%= paciente.evp %></h4></div>
                <div class="card-title m-0 pl-5"><h4>EPOC: <%= paciente.epoc %></h4></div>
                <div class="card-title m-0 pl-5"><h4>HTC: <%= paciente.htc %></h4></div>
                <div class="card-title m-0 pl-5"><h4>ACV: <%= paciente.acv %></h4></div>
               </div>
               <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">
                <div class="card-title m-0 pr-5"><h4>NHC: <%= paciente.nhc %></h4></div>
                <div class="card-title m-0 "><h4>DLP: <%= paciente.dlp %></h4></div>
                <div class="card-title m-0 pl-5"><h4>Sección: <%= paciente.section %></h4></div>
               </div>
               <div class="col-12 d-flex flex-wrap justify-content-center  my-3 pb-3 borde-bajo">              
                <div class="card-title m-0 pr-5"><h4>Comentarios: <%= paciente.medical_visit %></h4></div>   
               </div>
              }
            </article>
            </section>
          
          <!--Boton volver-->
          <div class="col-12 d-flex justify-content-end pr-5 my-5">
            <a href="/patients" class="btn btn-dark px-5">Volver</a>
          </div>
    </section>
  </div>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
</body>
</html>