<!doctype html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/patientDetail.css">

</head>

<body>
  <header>
    <%- include('../partials/navBar.ejs') %>
  </header>
  <div class="col-12 d-flex justify-content-center pr-5 mt-3 border-top">
    <a href="/pdf/<%= paciente.id %>" class="btn btn-light px-5 ml-2">PDF</a>
    <a href="/patients/edit/<%= paciente.id %>" class="btn btn-light px-5 ml-2">Editar</a>
    <a href="/patientsHistory/<%= paciente.id %>" class="btn btn-light px-5 ml-2">Ver historia clínica</a>
  </div>
  <div id="pdf" class="container-fluid">
    <section class="row">
      <!-- Cuerpo principal -->
      <article class="col-8 mx-auto mb-3 pdf">
        <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">DETALLE DE PACIENTE</h2>

        <div id="pdf">
          <h3 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">
            <td>
              <%= paciente.first_name %>
            </td>
            <td>
              <%= paciente.last_name %>
            </td>
          </h3>
      </article>
        <!--Info-->
        <article class="col-10 mx-auto" style="background-color: aliceblue;">
          <table class="table pdf">
            <thead class="thead">
              <tr>


                <th scope="col">Género</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">DNI</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>

              </tr>
            </thead>
            <tbody>

              <tr>


                <td>
                  <%= paciente.gender %>
                </td>
                <td>
                  <%= paciente.date %>
                </td>
                <td>
                  <%= paciente.dni %>
                </td>
                <td>
                  <%= paciente.email %>
                </td>
                <td>
                  <%= paciente.telephone %>
                </td>


              </tr>

            </tbody>
            <thead>
              <tr>

                <th scope="col">Obra social</th>
                <th scope="col">Número de afiliado</th>
                <th scope="col">Dirección</th>
                <th scope="col">Calle n°</th>

                <th scope="col">Número de paciente</th>


              </tr>
            </thead>
            <tbody>

              <tr>

                <td>
                  <%= paciente.medical_insurance %>
                </td>
                <td>
                  <%= paciente.insurance_number%>
                </td>
                <td>
                  <%= paciente.adress %>
                </td>
                <td>
                  <%= paciente.adress_number %>
                </td>

                <td>
                  <%= paciente.nhc %>
                </td>


              </tr>

            </tbody>
          </table>

          <article class="col-8 mx-auto mb-5">
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">ENFERMEDADES</h2>
          </article>
          <table class="table">

            <thead class="thead">
              <tr>
                <th scope="col">ENFERMEDAD</th>
                <th scope="col">¿La tiene?</th>
                <th scope="col">Inicio de la enfermedad</th>
                <th scope="col">Fin de la enfermedad</th>
                <th scope="col">Acción</th>
                <th scope="col">Comentario</th>
              </tr>
            </thead>
            <tbody>
              <% if(paciente.diabetes=='si' ) { %>
                <tr>
                  <th scope="row">Diabetes</th>
                  <td>
                    <%= paciente.diabetes %>
                  </td>
                  <td>
                    <%= paciente.date_diabetes %>
                  </td>
                  <td>
                    <%= paciente.date_end_diabetes %>
                  </td>
                  <td>
                    <%= paciente.action_diabetes %>
                  </td>
                  <td>
                    <%= paciente.coments_diabetes %>
                  </td>
                </tr>
                <% } %>
                  <% if(paciente.dlp=='si' ) { %>
                    <tr>
                      <th scope="row">DLP</th>
                      <td>
                        <%= paciente.dlp %>
                      </td>
                      <td>
                        <%= paciente.date_dlp %>
                      </td>
                      <td>
                        <%= paciente.date_end_dlp %>
                      </td>
                      <td>
                        <%= paciente.action_dlp %>
                      </td>
                      <td>
                        <%= paciente.coments_dlp %>
                      </td>
                    </tr>
                    <% } %>
                      <% if(paciente.hta=='si' ) { %>
                        <tr>
                          <th scope="row">HTA</th>
                          <td>
                            <%= paciente.hta %>
                          </td>
                          <td>
                            <%= paciente.date_hta %>
                          </td>
                          <td>
                            <%= paciente.date_end_hta %>
                          </td>
                          <td>
                            <%= paciente.action_hta %>
                          </td>
                          <td>
                            <%= paciente.coments_hta %>
                          </td>
                        </tr>
                        <% } %>
                          <% if(paciente.crm=='si' ) { %>
                            <tr>
                              <th scope="row">CRM</th>
                              <td>
                                <%= paciente.crm %>
                              </td>
                              <td>
                                <%= paciente.date_crm %>
                              </td>
                              <td>
                                <%= paciente.date_end_crm %>
                              </td>
                              <td>
                                <%= paciente.action_crm %>
                              </td>
                              <td>
                                <%= paciente.coments_crm %>
                              </td>
                            </tr>
                            <% } %>
                              <% if(paciente.atc=='si' ) { %>
                                <tr>
                                  <th scope="row">ATC</th>
                                  <td>
                                    <%= paciente.atc %>
                                  </td>
                                  <td>
                                    <%= paciente.date_atc %>
                                  </td>
                                  <td>
                                    <%= paciente.date_end_atc %>
                                  </td>
                                  <td>
                                    <%= paciente.action_atc %>
                                  </td>
                                  <td>
                                    <%= paciente.coments_atc %>
                                  </td>
                                </tr>
                                <% } %>
                                  <% if(paciente.iam=='si' ) { %>
                                    <tr>
                                      <th scope="row">IAM</th>
                                      <td>
                                        <%= paciente.iam %>
                                      </td>
                                      <td>
                                        <%= paciente.date_iam %>
                                      </td>
                                      <td>
                                        <%= paciente.date_end_iam %>
                                      </td>
                                      <td>
                                        <%= paciente.action_iam %>
                                      </td>
                                      <td>
                                        <%= paciente.coments_iam %>
                                      </td>
                                    </tr>
                                    <% } %>
                                      <% if(paciente.acv=='si' ) { %>
                                        <tr>
                                          <th scope="row">ACV</th>
                                          <td>
                                            <%= paciente.acv %>
                                          </td>
                                          <td>
                                            <%= paciente.date_acv %>
                                          </td>
                                          <td>
                                            <%= paciente.date_end_acv %>
                                          </td>
                                          <td>
                                            <%= paciente.action_acv %>
                                          </td>
                                          <td>
                                            <%= paciente.coments_acv %>
                                          </td>
                                        </tr>
                                        <% } %>
                                          <% if(paciente.aortic_aneurysm=='si' ) { %>
                                            <tr>
                                              <th scope="row">Aneurisma</th>
                                              <td>
                                                <%= paciente.aortic_aneurysm %>
                                              </td>
                                              <td>
                                                <%= paciente.date_aerotic %>
                                              </td>
                                              <td>
                                                <%= paciente.date_end_aerotic %>
                                              </td>
                                              <td>
                                                <%= paciente.action_aerotic %>
                                              </td>
                                              <td>
                                                <%= paciente.coments_aerotic %>
                                              </td>
                                            </tr>
                                            <% } %>
                                              <% if(paciente.ic=='si' ) { %>
                                                <tr>
                                                  <th scope="row">IC</th>
                                                  <td>
                                                    <%= paciente.ic %>
                                                  </td>
                                                  <td>
                                                    <%= paciente.date_ic %>
                                                  </td>
                                                  <td>
                                                    <%= paciente.date_end_ic %>
                                                  </td>
                                                  <td>
                                                    <%= paciente.action_ic%>
                                                  </td>
                                                  <td>
                                                    <%= paciente.coments_ic %>
                                                  </td>
                                                </tr>
                                                <% } %>
                                                  <% if(paciente.evp=='si' ) { %>
                                                    <tr>
                                                      <th scope="row">EVP</th>
                                                      <td>
                                                        <%= paciente.evp %>
                                                      </td>
                                                      <td>
                                                        <%= paciente.date_evp %>
                                                      </td>
                                                      <td>
                                                        <%= paciente.date_end_evp %>
                                                      </td>
                                                      <td>
                                                        <%= paciente.action_evp %>
                                                      </td>
                                                      <td>
                                                        <%= paciente.coments_evp %>
                                                      </td>
                                                    </tr>
                                                    <% } %>
                                                      <% if(paciente.epoc=='si' ) { %>
                                                        <tr>
                                                          <th scope="row">EPOC</th>
                                                          <td>
                                                            <%= paciente.epoc %>
                                                          </td>
                                                          <td>
                                                            <%= paciente.date_epoc %>
                                                          </td>
                                                          <td>
                                                            <%= paciente.date_end_epoc %>
                                                          </td>
                                                          <td>
                                                            <%= paciente.action_epoc %>
                                                          </td>
                                                          <td>
                                                            <%= paciente.coments_epoc %>
                                                          </td>
                                                        </tr>
                                                        <% } %>
                                                          <% if(paciente.irc=='si' ) { %>
                                                            <tr>
                                                              <th scope="row">IRC</th>
                                                              <td>
                                                                <%= paciente.irc %>
                                                              </td>
                                                              <td>
                                                                <%= paciente.date_irc %>
                                                              </td>
                                                              <td>
                                                                <%= paciente.date_end_irc %>
                                                              </td>
                                                              <td>
                                                                <%= paciente.action_irc %>
                                                              </td>
                                                              <td>
                                                                <%= paciente.coments_irc %>
                                                              </td>
                                                            </tr>
                                                            <% } %>
                                                              <% if(paciente.obesity=='si' ) { %>
                                                                <tr>
                                                                  <th scope="row">Obesidad</th>
                                                                  <td>
                                                                    <%= paciente.obesity %>
                                                                  </td>
                                                                  <td>
                                                                    <%= paciente.date_obesity %>
                                                                  </td>
                                                                  <td>
                                                                    <%= paciente.date_end_obesity %>
                                                                  </td>
                                                                  <td>
                                                                    <%= paciente.action_obesity %>
                                                                  </td>
                                                                  <td>
                                                                    <%= paciente.coments_obesity %>
                                                                  </td>
                                                                </tr>
                                                                <% } %>
                                                                  <% if(paciente.smoking=='si' ) { %>
                                                                    <tr>
                                                                      <th scope="row">Tabaquismo</th>
                                                                      <td>
                                                                        <%= paciente.smoking %>
                                                                      </td>
                                                                      <td>
                                                                        <%= paciente.date_smoking %>
                                                                      </td>
                                                                      <td>
                                                                        <%= paciente.date_end_smoking %>
                                                                      </td>
                                                                      <td>
                                                                        <%= paciente.action_smoking %>
                                                                      </td>
                                                                      <td>
                                                                        <%= paciente.coments_smoking %>
                                                                      </td>
                                                                    </tr>
                                                                    <% } %>
            </tbody>
          </table>
          <% if(paciente.other_disease!=null ) { %>
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">OTRAS ENFERMEDADES</h2>
            <h5 style="font-size: large;"> <%= paciente.other_disease %></h5>
            <% } %>
        </article>
    
      <!-- Tratamientos-->
      <article class="col-10 mx-auto mb-4 " style="background-color: aliceblue;">
        <h2 class="titulo-admin pb-3 border-bottom text-center mt-5 mx-auto text-uppercase">TRATAMIENTOS</h2>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@getbootstrap">Agregar tratamiento +</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Agregar tratamiento</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/patients/detail/treatment/<%= paciente.id%>" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control bg-light  visita_medica col-12" name="tratamiento"
                      placeholder="Agregar tratamiento" value="" required>
                    <label class="mt-2">Fecha inicio tratamiento</label>
                    <input type="date" id="start" name="fechatratamiento" class="form-control  bg-light" value=""
                      min="1940-01-01" max="2050-12-31" required>
                    <label class="mt-2">Fecha fin tratamiento</label>
                    <input type="date" id="start" name="fechafintratamiento" class="form-control  bg-light" value=""
                      min="1940-01-01" max="2050-12-31">
                    <input type="text" class="form-control bg-light  visita_medica col-12 mt-3" name="reason"
                      placeholder="Motivo de finalización" value="">
                    <button type="submit" class="btn btn-dark mt-3">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
  <!--Info-->
  <article class="col-12 mt-3 mb-5">
    <table class="table">
      <thead>
        <tr>

          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Tratamiento:</th>
          <th scope="col">Inicio tratamiento</th>
          <th scope="col">Fin tratamiento</th>
          <th scope="col">Motivo de finalización</th>
          <th class="text-center" scope="col">Eliminar tratamiento</th>



        </tr>
      </thead>
      <tbody>

        <% tratamiento.forEach(treatment=> { %>
          <% if (treatment.tratamiento) { %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <%= treatment.tratamiento %>
              </td>
              <td>
                <%= treatment.datetreatment %>
              </td>
              <td>
                <%= treatment.dateendtreatment %>
              </td>
              <td>
                <%= treatment.reason %>
              </td>
              <td class="text-center"><a href="/patients/delete/treatment/<%= treatment.id%>">
                  <ion-icon style="color: black;" name="trash-outline"></ion-icon>
                </a></td>
            </tr>
            <% } else { %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>El paciente no realizo ningun tratamiento</td>
                <td>--/--/----</td>
                <td>--/--/----</td>
                <td>----------</td>
                <td>----------</td>
              </tr>
              <% } %>
                <% }) %>
      </tbody>
    </table>

    </div>
    <!--Boton volver-->
    <div class="col-12 d-flex justify-content-center mt-5 pt-5 pr-5 my-5">
      <a href="/patients" class="btn btn-dark px-5 ml-2">Volver</a>
      <a href="/patients/edit/<%= paciente.id %>" class="btn btn-dark px-5 ml-2">Editar</a>
      <a href="/patientsHistory/<%= paciente.id %>" class="btn btn-dark px-5 ml-2">Ver historia clínica</a>
    </div>



    </section>
    </div>
  </article>
  </article>



  </section>
  </div>


  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
    <!-- UIkit JS -->

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <script src="/js/html2pdf.bundle.min.js"></script>
    <script src="/js/pdf.js"></script>

</body>

</html>