<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/patientCreate.css">
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    <section >
       
        <article class="col-8 mx-auto mb-5">
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">EDITAR PACIENTE</h2>
            </article>
    
    </section>
    
    <section class="bg-home pt-4">
        <div class="container-fluid">
            <div class="row" >
                <!--UL de errores-->
                <div class="col-8 mx-auto">
             
             
                <div  class="col-12">
                    <div class=" create-form">
                        <form action="/patients/edit/<%= paciente.id%>?_method=PUT" method="POST" >
                            <!--Inputs-->
                       <!--Nombre-->
                       <div class="form-group">
                        <input type="hidden" name="oldExample"  value="<%= paciente.first_name%>">
                        <input type="text" class="form-control  bg-light" name="nombre" placeholder="Nombre"   value="<%= paciente.first_name%>">
                    </div>
                    <!--Apellido-->
                    <div class="form-group">
                        <input type="hidden" name="oldExample"  value="<%= paciente.last_name%>">
                        <input type="text" class="form-control  bg-light" name="apellido" placeholder="Apellido"  value="<%= paciente.last_name%>">
                    </div>
                    
                    <div class="row">
                        <!--Género-->
                        <div class="form-group col-6" placeholder="Genero">
                            <select id="genero" name="genero" class="form-control  bg-light">
                                <option disabled value="">Seleccione un genero</option>
                                <option value="masculino" <%= paciente.gender == "masculino" ? "selected" : " " %>>Masculino</option>
                                <option value="femenino" <%= paciente.gender == "femenino" ? "selected" : " " %>>Femenino</option>
                            </select>
                        </div>
                        <!--Fecha de nacimiento-->
                        <div class="form-group col-6" placeholder="Nacimiento">
                        <input type="date" id="start" name="nacimiento" class="form-control  bg-light"
                        value="<%= paciente.date%>"
                        min="1940-01-01" max="2020-12-31">
                        </div>
                      <!--Email-->
                      <div class="form-group col-5">
                        <input type="hidden" name="oldExample"  value="<%= paciente.email%>">
                  <input type="text" class="form-control bg-light" name="email" placeholder="Email"   value="<%= paciente.email%>">
                    </div>
                   <!--numero-->
                   <div class="form-group col-7 pl-0">
                    <input type="hidden" name="oldExample"  value="<%= paciente.dni%>">
                   <input type="number" class="form-control bg-light" name="dni" placeholder="DNI"  value="<%= paciente.dni%>">
                   </div>
                      
                     <!--Obra social-->
                         <div class="form-group col-5">
                            <input type="hidden" name="oldExample"  value="<%= paciente.medical_insurance%>">
                      <input type="text" class="form-control bg-light" name="obrasocial" placeholder="Obra Social"   value="<%= paciente.medical_insurance%>">
                        </div>
                       <!--numero-->
                       <div class="form-group col-7 pl-0">
                        <input type="hidden" name="oldExample"  value="<%= paciente.insurance_number%>">
                       <input type="number" class="form-control bg-light" name="numero" placeholder="numero"  value="<%= paciente.insurance_number%>">
                       </div>

                        <!--Dirección-->
                        <div class="form-group col-6">
                            <input type="hidden" name="oldExample"  value="<%= paciente.adress%>">
                            <input type="text" class="form-control bg-light" name="dirección" placeholder="Dirección"  value="<%= paciente.adress%>">
                        </div>
                          <!--numero-->
                          <div class="form-group col-2 pl-0">
                            <input type="hidden" name="oldExample"  value="<%= paciente.adress_number%>">
                           <input type="text" class="form-control bg-light" name="adress_number" placeholder="Número"  value="<%= paciente.adress_number%>">
                       </div>
                        <!--Telefóno-->
                        <div class="form-group col-4 pl-0">
                             <input type="hidden" name="oldExample"  value="<%= paciente.telephone%>">
                            <input type="text" class="form-control bg-light" name="telefono" placeholder="Teléfono"  value="<%= paciente.telephone%>">
                        </div>
                        <!--Número de paciente-->
                        <div class="form-group col-12">
                            <input type="hidden" name="oldExample"  value="<%= paciente.nhc%>">
                           <input type="text" class="form-control bg-light" name="nhc" placeholder="Número de paciente"  value="<%= paciente.nhc%>">
                       </div>
                    </div>
                    
                    <!--Enfermedades-->

                    <article class="col-8 mx-auto mb-5">
                        <h2 class="titulo-admin pb-3  text-center pt-5 mx-auto text-uppercase">ENFERMEDADES</h2>
                        </article>
                    <!--Diabetes-->
                    <div class="row enfermedad">
                    <div class="col 6 form-group d-flex justify-content-between pt-2">                       
                        <span>DIABETES</span>                 
                       <label class="switch">
                           <% if (paciente.diabetes == 'si') { %>
                            <input type="checkbox" checked name="diabetes">
                           <% }else  {%>
                            <input type="checkbox"  name="diabetes"> 
                            <% } %>
                        <span class="slider round"></span>
                       </label>
                    </div>
                    <div class="form-group col-6 pt-2" placeholder="fecha_diabetes"  value="">
                    <input type="date" id="start" name="fecha_diabetes" class="form-control  bg-light"
                    value="<%= paciente.date_diabetes%>"
                    min="1940-01-01" max="2020-12-31">
                    </div>
                    <div class="form-group col-6 pl-3">
                        <input type="text" class="form-control bg-light" name="accion_diabetes" placeholder="Acción tomada"  value="<%= paciente.action_diabetes%>">
                    </div>
                    <div class="form-group col-6 pl-0">
                        <input type="text" class="form-control bg-light" name="comentario_diabetes" placeholder="Comentario"  value="<%= paciente.coments_diabetes%>">
                    </div>
                    </div>
             <!--DLP-->
            <div class="row enfermedad mt-4">
              <div class="col 6 form-group d-flex justify-content-between pt-2">                       
            <span>DLP</span>                 
            <label class="switch">
                <% if (paciente.dlp == 'on') { %>
                    <input type="checkbox" checked name="dlp">
                   <% }else  {%>
                    <input type="checkbox"  name="dlp"> 
                    <% } %>
            <span class="slider round"></span>
            </label>
           </div>
            <div class="form-group col-6 pt-2" placeholder="fecha_dlp"  value="">
           <input type="date" id="start" name="fecha_dlp" class="form-control  bg-light"
          value="<%= paciente.date_dlp%>"
          min="1940-01-01" max="2020-12-31">
         </div>
         <div class="form-group col-6 pl-3">
          <input type="text" class="form-control bg-light" name="accion_dlp" placeholder="Acción tomada"  value="<%= paciente.action_dlp%>">
          </div>
         <div class="form-group col-6 pl-0">
         <input type="text" class="form-control bg-light" name="comentario_dlp" placeholder="Comentario"  value="<%= paciente.coments_dlp%>">
         </div>
         </div>

                  <!--HTA-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>HTA</span>                 
              <label class="switch">
                <% if (paciente.hta == 'si') { %>
                    <input type="checkbox" checked name="hta">
                   <% }else  {%>
                    <input type="checkbox"  name="hta"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_hta"  value="">
             <input type="date" id="start" name="fecha_hta" class="form-control  bg-light"
            value="<%= paciente.date_hta%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_hta" placeholder="Acción tomada"  value="<%= paciente.action_hta%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_hta" placeholder="Comentario"  value="<%= paciente.coments_hta%>">
           </div>
           </div>
                   
                              <!--CRM-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>CRM</span>                 
              <label class="switch">
                <% if (paciente.crm == 'si') { %>
                    <input type="checkbox" checked name="crm">
                   <% }else  {%>
                    <input type="checkbox"  name="crm"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_crm"  value="<%= paciente.date_crm%>">
             <input type="date" id="start" name="fecha_crm" class="form-control  bg-light"
            value=""
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_crm" placeholder="Acción tomada"  value="<%= paciente.action_crm%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_crm" placeholder="Comentario"  value="<%= paciente.coments_crm%>">
           </div>
           </div>  
                                             <!--ATC-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>ATC</span>                 
              <label class="switch">
                <% if (paciente.atc == 'si') { %>
                    <input type="checkbox" checked name="atc">
                   <% }else  {%>
                    <input type="checkbox"  name="atc"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_atc"  value="">
             <input type="date" id="start" name="fecha_atc" class="form-control  bg-light"
            value="<%= paciente.date_atc%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_atc" placeholder="Acción tomada"  value="<%= paciente.action_atc%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_atc" placeholder="Comentario"  value="<%= paciente.coments_atc%>">
           </div>  
        </div>

                                        <!--IAM-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>IAM</span>                 
              <label class="switch">
                <% if (paciente.iam == 'si') { %>
                    <input type="checkbox" checked name="iam">
                   <% }else  {%>
                    <input type="checkbox"  name="iam"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_iam"  value="">
             <input type="date" id="start" name="fecha_iam" class="form-control  bg-light"
            value="<%= paciente.date_iam%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_iam" placeholder="Acción tomada"  value="<%= paciente.action_iam%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_iam" placeholder="Comentario"  value="<%= paciente.coments_iam%>">
           </div>
           </div>  
                   
                   
                                        <!--ACV-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>ACV</span>                 
              <label class="switch">
                <% if (paciente.acv == 'si') { %>
                    <input type="checkbox" checked name="acv">
                   <% }else  {%>
                    <input type="checkbox"  name="acv"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_acv"  value="">
             <input type="date" id="start" name="fecha_acv" class="form-control  bg-light"
            value="<%= paciente.date_acv%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_acv" placeholder="Acción tomada"  value="<%= paciente.action_acv%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_acv" placeholder="Comentario"  value="<%= paciente.coments_acv%>">
           </div>
           </div>  
                   
               <!--Aneurisma aorta-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>Aneurisma aorta</span>                 
              <label class="switch">
                <% if (paciente.aortic_aneurysm == 'si') { %>
                    <input type="checkbox" checked name="aerotic">
                   <% }else  {%>
                    <input type="checkbox"  name="aerotic"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_aneurisma"  value="">
             <input type="date" id="start" name="fecha_aneurisma" class="form-control  bg-light"
            value="<%= paciente.date_aerotic%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_aneurisma" placeholder="Acción tomada"  value="<%= paciente.action_aerotic%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_aneurisma" placeholder="Comentario"  value="<%= paciente.coments_aerotic%>">
           </div>
           </div>  

                   <!--IC-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>IC</span>                 
              <label class="switch">
                <% if (paciente.ic == 'si') { %>
                    <input type="checkbox" checked name="ic">
                   <% }else  {%>
                    <input type="checkbox"  name="ic"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_ic"  value="">
             <input type="date" id="start" name="fecha_ic" class="form-control  bg-light"
            value="<%= paciente.date_ic%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_ic" placeholder="Acción tomada"  value="<%= paciente.action_ic%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_ic" placeholder="Comentario"  value="<%= paciente.coments_ic%>">
           </div>
           </div>  
                
                           <!--EVP-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>EVP</span>                 
              <label class="switch">
             <input type="checkbox" name="evp">
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_evp"  value="">
             <input type="date" id="start" name="fecha_evp" class="form-control  bg-light"
            value="<%= paciente.date_evp%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_evp" placeholder="Acción tomada"  value="<%= paciente.action_evp%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_evp" placeholder="Comentario"  value="<%= paciente.coments_evp%>">
           </div>
           </div> 
                   
                 
                           <!--EPOC-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>EPOC</span>                 
              <label class="switch">
                <% if (paciente.epoc == 'si') { %>
                    <input type="checkbox" checked name="epoc">
                   <% }else  {%>
                    <input type="checkbox"  name="epoc"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_epoc"  value="">
             <input type="date" id="start" name="fecha_epoc" class="form-control  bg-light"
            value="<%= paciente.date_epoc%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_epoc" placeholder="Acción tomada"  value="<%= paciente.action_epoc%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_epoc" placeholder="Comentario"  value="<%= paciente.coments_epoc%>">
           </div>
           </div>  


                              <!--IRC-->
            <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>IRC</span>                 
              <label class="switch">
                <% if (paciente.irc == 'si') { %>
                    <input type="checkbox" checked name="irc">
                   <% }else  {%>
                    <input type="checkbox"  name="irc"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_irc"  value="">
             <input type="date" id="start" name="fecha_irc" class="form-control  bg-light"
            value="<%= paciente.date_irc%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_irc" placeholder="Acción tomada"  value="<%= paciente.action_irc%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_irc" placeholder="Comentario"  value="<%= paciente.coments_irc%>">
           </div>
           </div> 

             <!--Obesidad-->
             <div class="row enfermedad mt-4">
                <div class="col 6 form-group d-flex justify-content-between pt-2">                       
              <span>Obesidad</span>                 
              <label class="switch">
                <% if (paciente.obesity == 'si') { %>
                    <input type="checkbox" checked name="obesity">
                   <% }else  {%>
                    <input type="checkbox"  name="obesity"> 
                    <% } %>
              <span class="slider round"></span>
              </label>
             </div>
              <div class="form-group col-6 pt-2" placeholder="fecha_obesidad"  value="">
             <input type="date" id="start" name="fecha_obesidad" class="form-control  bg-light"
            value="<%= paciente.date_obesity%>"
            min="1940-01-01" max="2020-12-31">
           </div>
           <div class="form-group col-6 pl-3">
            <input type="text" class="form-control bg-light" name="accion_obesidad" placeholder="Acción tomada"  value="<%= paciente.action_obesity%>">
            </div>
           <div class="form-group col-6 pl-0">
           <input type="text" class="form-control bg-light" name="comentario_obesidad" placeholder="Comentario"  value="<%= paciente.coments_obesity%>">
           </div>
           </div> 
                         </div>
          
                            <div class="col-12 form-group d-flex flex-wrap justify-content-center">
                                <button type="submit" class="col-6 mx-5 mt-5 btn btn btn-dark">Actualizar</button>
                                <a href="/patients" class="col-6 mx-5 my-3 btn btn-light border">Volver</a>
                            </div>
                            
                        </form>
                    </div>                        
                </div>
            </div>
        </div>
    </section>
  

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>

</html>
