<!doctype html>
<html lang="es">
  <head>
    <%- include('../partials/head.ejs') %>
    <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/patientDetail.css">

  </head>
  <body>
    <header>
      <%- include('../partials/navBar.ejs') %>
    </header>
    <div id="pdf" class="container-fluid">             
        <section class="row">
          <!-- Cuerpo principal -->
          <article class="col-8 mx-auto mb-5">
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">DETALLE DE PACIENTE</h2>
            </article>
          
          
          <article id="article" class="col-12 mt-5">       
            <!--Info-->
            <article class="col-12 mt-3">
              <table class="table">
                  <thead class="thead">
                    <tr>
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Género</th>
                        <th scope="col">Nacimiento</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Email</th>
                   
                        
                    </tr>
                </thead>
                <tbody>
                   
                        <tr>
                           
                            <td><%= paciente.first_name %></td>
                            <td><%= paciente.last_name %></td>
                            <td><%= paciente.gender %></td>
                            <td><%= paciente.date %></td>
                            <td><%= paciente.dni %></td>
                            <td><%= paciente.email %></td>
                            

                          
                        </tr>
                       
                </tbody>
                <thead>
                  <tr>
                      
                    <th scope="col">Obra social</th>
                    <th scope="col">Número de afiliado</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Calle n°</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Número de paciente</th>
                     
                      
                  </tr>
              </thead>
              <tbody>
                 
                      <tr>
                         
                        <td><%= paciente.medical_insurance %></td>
                        <td><%= paciente.insurance_number%></td>
                        <td><%= paciente.adress %></td>
                        <td><%= paciente.adress_number %></td>
                        <td><%= paciente.telephone %></td>
                        <td><%= paciente.nhc %></td>  

                         
                      </tr>
                     
              </tbody> 
            </table>
           
              <article class="col-8 mx-auto mb-5">
                <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">ENFERMEDADES</h2>
                </article>
                <table class="table">
                  <thead class="thead">
                    <tr>
                      <th scope="col">ENFERMEDAD</th>
                      <th scope="col">¿La tiene?</th>
                      <th scope="col">Inicio de la enfermedad</th>
                      <th scope="col">Fin de la enfermedad</th>
                      <th scope="col">Acción</th>
                      <th scope="col">Comentario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Diabetes</th>
                      <td><%= paciente.diabetes %></td>
                      <td><%= paciente.date_diabetes %></td>
                      <td><%= paciente.date_end_diabetes %></td>
                      <td><%= paciente.action_diabetes %></td>
                      <td><%= paciente.coments_diabetes %></td>
                    </tr>
                    <tr>
                      <th scope="row">DLP</th>
                      <td><%= paciente.dlp %></td>
                      <td><%= paciente.date_dlp %></td>
                      <td><%= paciente.date_end_dlp %></td>
                      <td><%= paciente.action_dlp %></td>
                      <td><%= paciente.coments_dlp %></td>
                    </tr>
                    <tr>
                      <th scope="row">HTA</th>
                      <td><%= paciente.hta %></td>
                      <td><%= paciente.date_hta %></td>
                      <td><%= paciente.date_end_hta %></td>
                      <td><%= paciente.action_hta %></td>
                      <td><%= paciente.coments_hta %></td>
                    </tr>
                    <tr>
                      <th scope="row">CRM</th>
                      <td><%= paciente.crm %></td>
                      <td><%= paciente.date_crm %></td>
                      <td><%= paciente.date_end_crm %></td>
                      <td><%= paciente.action_crm %></td>
                      <td><%= paciente.coments_crm %></td>
                    </tr>
                    <tr>
                      <th scope="row">ATC</th>
                      <td><%= paciente.atc %></td>
                      <td><%= paciente.date_atc %></td>
                      <td><%= paciente.date_end_atc %></td>
                      <td><%= paciente.action_atc %></td>
                      <td><%= paciente.coments_atc %></td>
                    </tr>
                    <tr>
                      <th scope="row">IAM</th>
                      <td><%= paciente.iam %></td>
                      <td><%= paciente.date_iam %></td>
                      <td><%= paciente.date_end_iam %></td>
                      <td><%= paciente.action_iam %></td>
                      <td><%= paciente.coments_iam %></td>
                    </tr>
                    <tr>
                      <th scope="row">ACV</th>
                      <td><%= paciente.acv %></td>
                      <td><%= paciente.date_acv %></td>
                      <td><%= paciente.date_end_acv %></td>
                      <td><%= paciente.action_acv %></td>
                      <td><%= paciente.coments_acv %></td>
                    </tr>
                    <tr>
                      <th scope="row">Aneurisma</th>
                      <td><%= paciente.aortic_aneurysm     %></td>
                      <td><%= paciente.date_aerotic %></td>
                      <td><%= paciente.date_end_aerotic %></td>
                      <td><%= paciente.action_aerotic %></td>
                      <td><%= paciente.coments_aerotic %></td>
                    </tr>
                    <tr>
                      <th scope="row">IC</th>
                      <td><%= paciente.ic %></td>
                      <td><%= paciente.date_ic %></td>
                      <td><%= paciente.date_end_ic %></td>
                      <td><%= paciente.action_ic%></td>
                      <td><%= paciente.coments_ic %></td>
                    </tr>
                    <tr>
                      <th scope="row">EVP</th>
                      <td><%= paciente.evp %></td>
                      <td><%= paciente.date_evp %></td>
                      <td><%= paciente.date_end_evp %></td>
                      <td><%= paciente.action_evp %></td>
                      <td><%= paciente.coments_evp %></td>
                    </tr>
                    <tr>
                      <th scope="row">EPOC</th>
                      <td><%= paciente.epoc %></td>
                      <td><%= paciente.date_epoc %></td>
                      <td><%= paciente.date_end_epoc %></td>
                      <td><%= paciente.action_epoc %></td>
                      <td><%= paciente.coments_epoc %></td>
                    </tr>
                     <tr>
                      <th scope="row">IRC</th>
                      <td><%= paciente.irc %></td>
                      <td><%= paciente.date_irc %></td>
                      <td><%= paciente.date_end_irc %></td>
                      <td><%= paciente.action_irc %></td>
                      <td><%= paciente.coments_irc %></td>
                    </tr>
                    <tr>
                      <th scope="row">Obesidad</th>
                      <td><%= paciente.obesity %></td>
                      <td><%= paciente.date_obesity %></td>
                      <td><%= paciente.date_end_obesity %></td>
                      <td><%= paciente.action_obesity %></td>
                      <td><%= paciente.coments_obesity %></td>
                    </tr>
                   
                  
                   
                  </tbody>
                </table>
              
             
        </article>
        </article>
          <!-- Tratamientos-->
          <article class="col-8 mx-auto mb-4">
            <h2 class="titulo-admin pb-3 border-bottom text-center mt-5 mx-auto text-uppercase">TRATAMIENTOS</h2>
            </article>
              <article id="article" class="col-12">       
                <div>
                  <form action="/patients/detail/treatment/<%= paciente.id%>" method="POST">
                    
                  <input type="text" class="form-control bg-light  visita_medica col-12" name="tratamiento" placeholder="Agregar tratamiento"  value="" required>
                  <label class="mt-2">Fecha inicio tratamiento</label>
                  <input type="date" id="start" name="fechatratamiento" class="form-control  bg-light"
                  value=""
                  min="1940-01-01" max="2021-12-31" required>
                  <label class="mt-2">Fecha fin tratamiento</label>
                  <input type="date" id="start" name="fechafintratamiento" class="form-control  bg-light"
                  value=""
                  min="1940-01-01" max="2021-12-31">
                  <button type="submit" class="btn btn-dark mt-3">Guardar</button>
                  </form>
                </div>
      
<!--Info-->
<article class="col-12 mt-3">
  <table class="table"> 
     <thead>
     <tr>
   
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
     <th scope="col">Tratamiento:</th>
    <th scope="col">Inicio tratamiento</th>
    <th scope="col">Fin tratamiento</th>
    <th class="text-center" scope="col">Eliminar tratamiento</th>
     
     
      
     </tr>
     </thead>
     <tbody>
     
      <% tratamiento.forEach(treatment => { %>
       <% if (treatment.tratamiento) { %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td><%= treatment.tratamiento %> </td>
            <td> <%= treatment.datetreatment  %></td> 
            <td> <%= treatment.dateendtreatment  %></td> 
            <td class="text-center"><a href="/patients/delete/treatment/<%= treatment.id%>"><ion-icon style="color: black;" name="trash-outline"></ion-icon></a></td>
          </tr>
        <% }  else { %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td>El paciente no realizo ningun tratamiento</td>
            <td>--/--/----</td> 
            <td>--/--/----</td>
            <td>----------</td>
            
        </tr>
        <% } %> 
      <% }) %>
      </tbody> 
    </table>
 



  </article>

           <!-- Historia clinica-->
           <article class="col-8 mx-auto mb-5">
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">HISTORIA CLÍNICA</h2>
            </article>
              <article id="article" class="col-12">   
               
                <div>
                  <form action="/patients/detail/history/<%= paciente.id%>" method="POST">
                  <input type="text" class="form-control bg-light mt-3 mb-2 visita_medica col-12" name="visita_medica" placeholder="Agregar visita médica"  value="" required>
                  <label>Fecha de visita:</label>
                  <input type="date" id="start" name="fechavisita" class="form-control  mb-2   bg-light"
                  value=""
                  min="1940-01-01" max="2021-12-31" required>
                  <label>Nombre del médico:</label>
                  <input type="text" class="form-control bg-light  mb-3 col-12" name="doctor" placeholder="<%=  locals.usuario.first_name %><%=  locals.usuario.last_name %>"  value="<%=  locals.usuario.first_name %><%=  locals.usuario.last_name %>"required readonly="readonly">
                 
                  <button type="submit" class="btn btn-dark">Guardar</button>
                  </form>
                </div>
                

               </article>
            

<!--Info-->
<article class="col-12 mt-3">
  <table class="table"> 
     <thead>
     <tr>
   
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
     <th scope="col">Historia clinica:</th>
    <th scope="col">Fecha de visita</th>
    <th scope="col">Médico</th>
     
      
     </tr>
     </thead>
     <tbody>
     
      <% historiaClinica.forEach(historia => { %>
       <% if (historia.visitamedica  ){ %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td><%= historia.visitamedica %> </td>
            <td> <%= historia.fechavisita  %></td> 
            <td> <%= historia.doctor  %></td> 
          </tr>
        <% }  else { %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td>El paciente no tiene historia clínica</td>
            <td>--/--/----</td> 
            <td>----------</td> 
        </tr>
        <% } %> 
      <% }) %>
      
     
      </tbody> 
    </table>
   
  </article>




            </section>
          </div>
        </div>
          <!--Boton volver-->
          <div class="col-12 d-flex justify-content-end pr-5 my-5">
           <button id="btnCrearPdf" class="btn btn-dark px-5">PDF</button>
            <a href="/patients" class="btn btn-dark px-5 ml-2">Volver</a>
            <a href="/patients/edit/<%= paciente.id %>" class="btn btn-dark px-5 ml-2">Editar</a>
          </div>
          
           
    
    </section>
  </div>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- UIkit JS -->

  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
  <script src="/js/html2pdf.bundle.min.js"></script>
  <script src="/js/pdf.js"></script>

</body>
</html>