<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link rel='stylesheet' href='/css/patients.css' />
  <body>
      <header>
    <%- include('../partials/navBar.ejs') %>
     </header>
    <main class="container-fluid">
        <article class="col-8 mx-auto mb-5">
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">Pacientes</h2>
            </article>
        <!--Listado de productos para administrar-->
        <section class="row">  
            <div class="col-12 d-flex justify-content-between">     
            <article class="my-3">
                <a href="/patients/create"><button type="button" class="btn btn-outline-dark rounded-0">+ Agregar Paciente</button>
                </a>
            </article>
            <div class="d-flex justify-content-center align-items-center">
                <!--Búsqueda-->
        
            <form method="POST" id="busqueda" action="/busqueda" class="form-inline ocultar">
                <input class="form-control" type="search" name="search" placeholder="Buscar...">
                <button class="btn" type="submit">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
            </form>
            </div>
            <div class="dropdown  my-3 d-flex justify-content-end">
                <button class="btn btn-outline-dark rounded-0 dropdown-toggle boton-orden-filtro  " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/patients/diabetes" id="obesidad">diabetes</a>
                    <a class="dropdown-item" href="/patients/dlp" id="diabetes">DLP</a>
                    <a class="dropdown-item" href="/patients/hta" id="acv">HTA</a>
                    <a class="dropdown-item" href="/patients/crm" id="Aneurisma">CRM</a>
                    <a class="dropdown-item" href="/patients/atc" id="Aneurisma">ATC</a>
                    <a class="dropdown-item" href="/patients/iam" id="Aneurisma">IAM</a>
                    <a class="dropdown-item" href="/patients/acv" id="Aneurisma">ACV</a>
                    <a class="dropdown-item" href="/patients/aneurisma" id="Aneurisma">Aneurisma</a>
                    <a class="dropdown-item" href="/patients/ic" id="Aneurisma">IC</a>
                    <a class="dropdown-item" href="/patients/evp" id="Aneurisma">EVP</a>
                    <a class="dropdown-item" href="/patients/epoc" id="Aneurisma">EPOC</a>
                    <a class="dropdown-item" href="/patients/irc" id="Aneurisma">IRC</a>
                    <a class="dropdown-item" href="/patients/obesos" id="Aneurisma">Obesidad</a>
                    <a class="dropdown-item" href="/patients/tabaquismo" id="Aneurisma">Tabaquismo</a>
                    <a class="dropdown-item" href="/patients" id="Aneurisma">Ver todos</a>
                </div>
                <div class="dropdown">
                <button class="btn btn-outline-dark rounded-0 dropdown-toggle boton-orden-filtro ml-3 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar x sexo
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <form class="d-flex justify-content-center px-2" action="/patients/generomh" method="GET">
                    <a class="dropdown-item" href="/patients/generoh" id="Masculimo">Masculino</a>
                    </form>
                    <form class="d-flex justify-content-center px-2" action="/patients/generom" method="GET">
                    <a class="dropdown-item" href="/patients/generom" id="Femenino">Femenino</a>    
                   </form>   
                   <form class="d-flex justify-content-center px-2" action="/patients/generom" method="GET">
                    <a class="dropdown-item" href="/patients" id="mas-vendidos">Ver ambos</a>    
                   </form>        
                </div>
            </div>
            </div>
        </div>  
        
            <article class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Género</th>
                            <th scope="col">Diabetes</th>
                            <th scope="col">DLP</th>
                            <th scope="col">HTA</th>
                            <th scope="col">Obesidad</th>
                            <th scope="col">Ver</th>
                            <th scope="col">Editar</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <% patient.forEach(patient=> { %>
                            <tr>
                               
                                <td><%= patient.first_name %></td>
                                <td><%= patient.last_name %></td>
                                <td><%= patient.gender %></td>
                                <td><%= patient.diabetes %></td>   
                                <td><%= patient.dlp %></td>
                                <td><%= patient.hta %></td>
                                <td><%= patient.obesity %></td>
                                <td><a href="/patients/detail/<%= patient.id %>"><ion-icon  class="pl-2" name="eye-outline"></ion-icon></a></td>
                                <td><a href="/patients/edit/<%= patient.id %>"><ion-icon class="pl-3" name="pencil-outline"></ion-icon></a></td>
                               
                            </tr>
                            <% }); %> 
                    </tbody>
                </table>
            </article>
            
        </section>
    </main>
        

 <!-- FOOTER -->
<%- include('../partials/footer.ejs') %>
  </body>
</html>
