<!doctype html>
<html lang="es">
  <head>
    <%- include('../partials/head.ejs') %>
    <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/patientDetail.css">
  </head>
  <body>
    <header>
      <%- include('../partials/navBar.ejs') %>
    </header>
    <div class="container-fluid">             
        <section class="row">
          <!-- Cuerpo principal -->
          <h1 class="col-8 mx-auto pb-3 card-title text-center border-bottom">DETALLE DEL PACIENTE</h1>
          
          
          <article id="article" class="col-12 mt-5">       
            <!--Info-->
            <article class="col-12 mt-3">
              <table class="table">
                  <thead class="thead">
                    <tr>
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Género</th>
                        <th scope="col">Nacimiento</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Email</th>
                   
                        
                    </tr>
                </thead>
                <tbody>
                   
                        <tr>
                           
                            <td><%= paciente.first_name %></td>
                            <td><%= paciente.last_name %></td>
                            <td><%= paciente.gender %></td>
                            <td><%= paciente.date %></td>
                            <td><%= paciente.dni %></td>
                            <td><%= paciente.email %></td>
                            

                          
                        </tr>
                       
                </tbody>
                <thead>
                  <tr>
                      
                    <th scope="col">Obra social</th>
                    <th scope="col">Número de afiliado</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Calle n°</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col"></th>
                     
                      
                  </tr>
              </thead>
              <tbody>
                 
                      <tr>
                         
                        <td><%= paciente.medical_insurance %></td>
                        <td><%= paciente.insurance_number%></td>
                        <td><%= paciente.adress %></td>
                        <td><%= paciente.adress_number %></td>
                        <td><%= paciente.telephone %></td>  

                         
                      </tr>
                     
              </tbody>  
              <thead>
                <tr>
                    
                  <th scope="col">Diabetes</th>
                  <th scope="col">DLP</th>
                  <th scope="col">HTA</th>
                  <th scope="col">CRM</th>
                  <th scope="col">Aneurisma</th>
                  <th scope="col">IC</th>
                  
                  
                   
                    
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                       
                      <td><%= paciente.diabetes %></td>
                      <td><%= paciente.dlp%></td>
                      <td><%= paciente.hta %></td>
                      <td><%= paciente.crm %></td>
                      <td><%= paciente.aortic_aneurysm %></td> 
                      <td><%= paciente.ic %></td> 
                   

                       
                    </tr>
                   
            </tbody>  
            <thead>
              <tr>
                  
                <th scope="col">IRC</th>
                <th scope="col">Obecidad</th>
                <th scope="col">EVP</th>
                <th scope="col">EPOC</th>
                <th scope="col">HTC</th>
                <th scope="col"></th>
                
                
                 
                  
              </tr>
          </thead>
          <tbody>
             
                  <tr>
                     
                    <td><%= paciente.irc %></td>
                    <td><%= paciente.obesity%></td>
                    <td><%= paciente.evp%></td>
                    <td><%= paciente.epoc %></td>
                    <td><%= paciente.htc %></td> 
                    
                 

                     
                  </tr>
                 
          </tbody>  
          <thead>
            <tr>
              <th scope="col">ACV</th>
              <th scope="col">NHC</th>
              <th scope="col">DLP</th>
              <th scope="col">Sección</th>
              <th scope="col"></th>
              <th scope="col"></th>
              
               
                
            </tr>
        </thead>
        <tbody>
           
                <tr>
                  <td><%= paciente.acv %></td>
                  <td><%= paciente.nhc %></td>
                  <td><%= paciente.dlp%></td>
                  <td><%= paciente.section%></td>
              
               

                   
                </tr>
               
        </tbody>  
       
              </table>
        </article>
        </article>
           <!-- Historia clinica-->
           <h1 class="col-8 mx-auto pb-3 card-title text-center border-bottom">Historia clínica</h1>
              <article id="article" class="col-12 mt-5">       
<!-- Large modal -->
<button type="button" class="btn btn-dark ml-3" data-toggle="modal" data-target=".bd-example-modal-lg">Agregar Visita médica</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Agregar visita médica</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control  bg-light" name="visita_medica" placeholder="Comentarios sobre visita medica"  value="<%= paciente.medical_visit%>">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
        <button type="button" class="btn btn-dark">Guardar</button>
      </div>
    </div>
  </div>
</div>

                <!--Info-->
                <article class="col-12 mt-3">
                  <table class="table"> 
     <thead>
     <tr>
   
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
     <th scope="col">Historia clinica:</th>
    <th scope="col">Fecha de creación</th>
     
      
     </tr>
     </thead>
     <tbody>
 
      <tr>
       
      
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td class="pr-5"><%= paciente. medical_visit%> </td>
        <td> <%= paciente.createdAt  %></td> 
       </tr>
     
      </tbody> 
    </table>
  </article>
  </article>



            </section>
          
          <!--Boton volver-->
          <div class="col-12 d-flex justify-content-end pr-5 my-5">
            <a href="/patients" class="btn btn-dark px-5">Volver</a>
            <a href="/patients/edit/<%= paciente.id %>" class="btn btn-dark px-5 ml-2">Editar</a>
          </div>
          
           
    
    </section>
  </div>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
</body>
</html>