<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link rel='stylesheet' href='/css/patients.css' />
  <link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
  <link rel='stylesheet' href='/css/patientHistory.css' />
  <body>
      <header>
    <%- include('../partials/navBar.ejs') %>
     </header>
    <!--Menu vinos FIN-->
    
     
    
     
     
    
     
      

<main class="container-fluid" id="main">
      <!-- Historia clinica-->
        <div class="row">
          <div class="col-8">
            <h3 class="titulo-admin pb-3 text-center pt-5 mx-auto text-uppercase">AGREGAR EVOLUCIÓN</h3>
            <form class="col-10 ml-3" action="/patients/detail/history/<%= paciente.id%>" method="POST">
              <textarea type="text" class="form-control bg-light mt-3 mb-2 visita_medica col-12" name="visita_medica" placeholder="Agregar visita médica"  value="" required></textarea>
              <label>Fecha de visita:</label>
              <input type="date" id="start" name="fechavisita" class="form-control  mb-2   bg-light"
              value=""
              min="1940-01-01" max="2021-12-31" required>
              <label>Nombre del médico:</label>
              <input type="text" class="form-control bg-light  mb-3 col-12" name="doctor" placeholder="<%=  locals.usuario.first_name %><%=  locals.usuario.last_name %>"  value="<%=  locals.usuario.first_name %><%=  locals.usuario.last_name %>"required readonly="readonly">
              <button type="submit" class="btn btn-dark">Guardar</button>
              </form>
          </div>
          <div class="col-4 border-left mt-5">
            <h4 class="mt-3">AGREGAR IMAGEN /ESTUDIO</h4>
            <% if(typeof(errors) != 'undefined'){%>
              <ul class="alert alert-danger">
                <% errors.forEach(error => { %>
                  <li><%= error.msg%></li>
                  <%});%>
              </ul>
            <%}%>
            <form class="" action="/addimage/<%= paciente.id%>" method="POST" enctype="multipart/form-data">
           
              <input type="file" class="form-control-file mt-1" id="exampleFormControlFile1" name="imagen" id="filename">
              <button type="submit" class="btn btn-dark mt-3">Guardar</button>
              </form>
              <h4 class="mt-4">AGREGAR EXÁMEN FÍSICO</h4>
              <button type="button" class="btn btn-light addtreatment" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Agregar examen físico</button>
    
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Agregar examen físico</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/addevolution/<%= paciente.id%>" method="POST">
                        <div class="form-group">
                          <h5 class="modal-title" id="exampleModalLabel">Genericos</h5>
                          <label>Fecha de visita:</label>
                          <input type="date" id="start" name="date" class="form-control  mb-2   bg-light"
                          value=""
                          min="1940-01-01" max="2021-12-31" required>
                         <div class="row">
                         <div class="col-3">
                           <label class="mt-3" >Altura</label>
                          <input type="text" class="form-control bg-light mt-2  col-12" name="altura"   value="" required>
                         </div>
                         <div class="col-3">
                          <label class="mt-3">Peso</label>
                          <input type="text" class="form-control bg-light mt-2  col-12" name="peso"   value="" required>
                         </div>
                         <div class="col-3">
                          <label for="">Masa corporal</label>
                          <input type="text" class="form-control bg-light   col-12" name="masacorporal"   value="" required>
                         </div>
                         <div class="col-3">
                          <label for="">Frec. cardíaca</label>
                          <input type="text" class="form-control bg-light   col-12" name="frec_cardiaca"  value="" required>
                         </div>
                         </div>
                         <div class="row">
                          <div class="col-3">
                            <label >Tensión arterial</label>
                           <input type="text" class="form-control bg-light   col-12" name="tension_arterial"   value="" required>
                          </div>
                          <div class="col-3">
                           <label >Frecuencia respiratoria</label>
                           <input type="text" class="form-control bg-light   col-12" name="frec_resp"   value="" required>
                          </div>
                          <div class="col-3">
                           <label for="">Temperatura axilar</label>
                           <input type="text" class="form-control bg-light   col-12" name="temp_axilar"   value="" required>
                          </div>
                          <div class="col-3">
                           <label for="">Perímetro abdominal</label>
                           <input type="text" class="form-control bg-light   col-12" name="perimetro_abs"  value="" required>
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-3">
                              <label class="mt-3" >Tensión arterial promedio</label>
                             <input type="text" class="form-control bg-light mt-2  col-12" name="tension_art_prom"   value="" required>
                            </div>
                            </div>
                            <h5 class="modal-title mt-4" id="exampleModalLabel">Cardiología</h5>
                            <div class="row">
                              <div class="col-3">
                                <label class="" >R2</label>
                               <input type="text" class="form-control bg-light   col-12" name="r2"   value="" required>
                              </div>
                              <div class="col-3">
                               <label class="">R3</label>
                               <input type="text" class="form-control bg-light   col-12" name="r3"   value="" required>
                              </div>
                              <div class="col-3">
                               <label for="">R4</label>
                               <input type="text" class="form-control bg-light   col-12" name="r4"   value="" required>
                              </div>
                              <div class="col-3">
                                <label for="">Soplos</label>
                                <input type="text" class="form-control bg-light   col-12" name="soplos"   value="" required>
                               </div>
                               <div class="row">
                                <div class="col-3">
                                  <label class="ml-3" >Signos falla izquierda</label>
                                 <input type="text" class="form-control bg-light ml-3  col-12" name="fallaizq"   value="" required>
                                </div>
                                <div class="col-3">
                                 <label class="ml-3">Signos falla derecha</label>
                                 <input type="text" class="form-control bg-light   col-12" name="fallader"   value="" required>
                                </div>
                                <div class="col-3">
                                 <label for="ml-3 mt-3">Saturación de oxígeno</label>
                                 <input type="text" class="form-control bg-light mt-4  col-12" name="saturacion"   value="" required>
                                </div>
                                </div>
                              </div>
                              <input type="hidden" class="form-control bg-light mt-2  col-12" name="doctor"   value="<%= locals.usuario.first_name %><%=  locals.usuario.last_name  %> " required>
                      </div>
                            <button type="submit" class="btn btn-dark mt-3">Guardar</button>
                            </form>
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="mt-4">EXPORTAR EVOLUCIÓN</h4>
              <button id="btnCrearPdf" class="btn btn-dark px-5 mr-2 ">PDF</button>
                
            </div>
            




          </div>
        </div>
      
        </article>
     
            
         
      
         </article>
        </div>
        </section>
<!--Info-->
<div id="pdf" class="col-12 mt-3">
  <h4 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">EVOLUCIONES ANTERIORES</h4>
 
    <% if (historiaClinica.length>0) { %>
     
 <% historiaClinica.forEach(historia => { %>
 
  <div class="pl-5 pb-5 pt-3 mt-5 evolucion" >
    <h4>Evolución <%= historia.fechavisita  %></h4>
    <h6>Por <%= historia.doctor  %></h6>

      
      <p><%= historia.visitamedica %></p>
    
      
  </div>


  <% }) %>
<% } else { %>
 <h4 class="text-center">El paciente no tiene ninguna evolución</h4>
    <% } %>



    <h4 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">EXAMEN FÍSICO</h4>
    <% if (exam.length>0) { %>
      <% exam.forEach(exam => { %>
        <div class="pl-5 pb-5 pt-3 mt-5 evolucion" >
      <div class="conteiner">
        <h4>Exámen médico <%= exam.date  %></h4>
        <h6>Por <%= exam.doctor  %></h6>
        <div class="row">
          <div class="col-3">
            <h6 class="mt-3">Altura</h6>
            <%= exam.altura  %>
          </div>
          <div class="col-3">
            <h6 class="mt-3">Peso</h6>
            <%= exam.peso  %>
          </div>
          <div class="col-3">
            <h6 class="mt-3">Masa corporal</h6>
            <%= exam.masacorporal  %>
          </div>
          <div class="col-3">
            <h6 class="mt-3">Frecuencia cardíaca</h6>
            <%= exam.frec_cardiaca  %>
          </div>
        
              <div class="col-3">
                <h6 class="mt-3">Tensión arterial</h6>
                <%= exam.tension_arterial  %>
              </div>
              <div class="col-3">
                <h6 class="mt-3">Frecuencia respiratoria</h6>
                <%= exam.frec_resp  %>
              </div>
              <div class="col-3">
                <h6 class="mt-3">Temperatura axilar</h6>
                <%= exam.temp_axilar  %>
              </div>
              <div class="col-3">
                <h6 class="mt-3">Perimetro abdominal</h6>
                <%= exam.perimetro_abs  %>
              </div>
              <div class="col-3">
                <h6 class="mt-3">Tensión arterial promedio</h6>
                <%= exam.tension_art_prom  %>
              </div>
        </div>

      </div>
          
            
        </div>
        <% }) %>
        <% } else { %>
          <h4 class="text-center">El paciente no tiene ningún examen</h4>
             <% } %>

        </div>

        <article>
        <h4 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">IMAGENES DE ESTUDIOS</h4>
      
        <% imagenes.forEach(image=> { %>
          <a href="/images/estudios/<%= image.filename %>"><%= image.filename %></a>.</p>
          <% }) %>
         </article>




<div class="col-12 form-group d-flex justify-content-end">
 
    <a href="/patients/detail/<%= paciente.id %>" class="btn btn-dark px-5 mt-5">Volver</a>
</div>

</main>
    <!--Menu Vinos FIN-->
    <%- include('../partials/footer.ejs') %>
    <script src="/js/html2pdf.bundle.min.js"></script>
    <script src="/js/pdf.js"></script>
    <script src="/js/addImage.js"></script>

</body>
</html>
