<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link rel='stylesheet' href='/css/patients.css' />
  <body>
      <header>
    <%- include('../partials/navBar.ejs') %>
     </header>
    <!--Menu vinos FIN-->
<main class="container-fluid  py-5" id="main">
    <article class="col-12">
        <h2 class="font-weight-bolder w-100 text-center my-5">AGENDA TRATAMIENTOS</h2>
    </article>
 <section > 
            <form method="POST" id="busqueda" action="/busquedatratamiento" class="form-inline ocultar">
            <div>
           <input class="form-control" type="search" name="search" placeholder="Buscar...">
             <button class="btn" type="submit">
             <ion-icon name="search-outline"></ion-icon>
          </button>
          </div>
            </form>     
 </section>
    <section class="d-flex">
        <% if (tratamiento.length == 0) {%>
            <h4 class="w-100 text-center my-5">NO SE ENCONTRARON TRATAMIENTOS</h4>
            <%}else{%>
        <% tratamiento.forEach(treat => { %>
            <article class="col-12">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Paciente</th>
                            <th scope="col">Tratamiento:</th>
                            <th scope="col">Inicio tratamiento</th>
                            <th scope="col">Fin tratamiento</th>
                      
                           
                        </tr>
                    </thead>
                    <tbody>
                        <% tratamiento.forEach(treat=> { %>
                            <tr>
                                <td><%= treat.patient_name %> </td>
                                <td><%= treat.tratamiento %> </td>
                                <td> <%= treat.datetreatment  %></td> 
                                <td> <%= treat.dateendtreatment  %></td> 
                          

                          
                              
                            </tr>
                            <% }); %> 
                    </tbody>
                </table>
            </article>
    <% }) %>
    <% } %>
</section>

<div class="col-12 form-group d-flex flex-wrap justify-content-end">

    <a href="/patients" class="btn btn-dark px-5">Volver al inicio</a>
</div>
</main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>