<html lang='en'>
  <head>
    <meta name="google-site-verification" content="atLOLTwMk-nY3cC8fmpabAskD56eL-oQt6_r46qS97Y"/>
    <%- include('../partials/head.ejs') %>
    <meta charset='utf-8' />
    <link href='/css/apointments.css' rel='stylesheet' />
  </head>


   <body>
      <header >
          <%- include('../partials/navBar.ejs') %>
      </header>

        <div class="conteiner">
          
         
                <article class="col-8 mx-auto mb-5">
                    <h2 class="pb-3 border-bottom text-center pt-5">AGREGAR TURNO</h2>
                    <a href="/filtroTurnos"class="btn btn-light btn-block">Filtrar turno por médico</a>
                 </article>
               
              
               
            <section class="container">
                <div class="row">
                    <article class="col-8 mx-auto">
                        <form action="/addevent" method="POST">
                            <div class="col-12 mb-4 bg-light p-0">
  
                              <input list="brow"class="form-control" name="name" required>
                              <datalist id="brow">
                                <% pacientes.forEach(paciente=> { %>
                                <option value="<%= paciente.firstlast_name   %>">
                                  <% }); %> 
                              </datalist>  
                              
                           
                           
                            
                            </div>
                           
                            <div class="form-group">
                                <input type="text" class="form-control  bg-light" name="descripcion" placeholder="Descripción"  value="" required>
                            </div>
                       <div class="row">
                            <div class="col-6 mt-2 bg-light">
                              <select class="form-control" name="medico" required>
                                <option selected  disabled>Médico</option>
                                <% usuarios.forEach(usuario=> { %>
                                  <option value="<%= usuario.complete_name   %>"><%= usuario.complete_name   %></option>
                                 <% }); %> 
                                </select>  
                            
                            </div>
                       <div class="col-3">
                               <input type="datetime-local" id="start" name="startDate" class="form-control  mt-2 bg-light"
                               value=""
                               min="1940-01-01" max="2021-12-31" required>
                      </div>
                      <div class="col-3">
                              <input type="datetime-local" id="start" name="endDate" class="form-control   mt-2 bg-light"
                              value=""
                              min="1940-01-01" max="2021-12-31">
                     </div>
                     <div class="col-3">
                           <button type="submit" class="btn btn-dark mr-3 mt-4  btn-block">Añadir turno</button>
                     </div>
                    
                      </form>
                      <div class="col-3">
                       <a class="btn btn-danger mr-3 mt-4  btn-block" href="/eleminarTurno">Eliminar turno</a>
                  </div>
                   </div>
              </div> 
          
             <div class="col-12 px-0">
              <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=Z29uemFsb21pZ2xpb3JlQGdtYWlsLmNvbQ&amp;color=%237986CB&amp;showTitle=0&amp;showNav=1&amp;showTz=0&amp;showCalendars=0&amp;showTabs=1&amp;showPrint=0" style="border-width:0" width="100%" height="1200" frameborder="0" scrolling="no"></iframe>
             </div>

       
    <%- include('../partials/footer.ejs') %>
    <script src="/js/calendar.js"></script>
   </body>
</html>