<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link rel='stylesheet' href='/css/patients.css' />
  <body>
      <header>
    <%- include('../partials/navBar.ejs') %>
     </header>
    <!--Menu vinos FIN-->
<main class="container-fluid  py-5" id="main">
    <article class="col-12">
        <h2 class="font-weight-bolder w-100 text-center my-5">FILTRAR TURNO POR MÉDICO</h2>
    </article>
 <section class="conteiner">
     <div class="row">
          
             <div class="col-1 d-flex">
              
             </div>
             <div class="col-12 d-flex justify-content-end">
                <form method="POST" id="busqueda" action="/filtrarTurnos" class="form-inline ocultar">
                    <div class="conteiner">
                    <div class="row">
                    <div class="col-4 pr-0 pt-0">
                        <label for="">Ingresá un médico</label>
                    </div>
                    <div class="col-6 mt-2 bg-light">
                      <select class="form-control" name="medico" required>
                        <option selected  disabled>Médico</option>
                        <% usuarios.forEach(usuario=> { %>
                          <option value="<%= usuario.complete_name   %>"><%= usuario.complete_name   %></option>
                         <% }); %> 
                        </select>  
                    
                    </div>
                        <button class="btn ml-2" type="submit">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                    </div>
                    </div>
                    </div>
                </form>
             </div>
           </div>
    

 </section>
    <section class="d-flex">
        <% if (turnos.length == 0) {%>
            <h4 class="w-100 text-center my-5">NO SE ENCONTRARON TURNOS</h4>
            <%}else{%>
    
            <article class="col-12">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Médico</th>
                            <th scope="col">Paciente</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha inicio turno</th>
                            <th scope="col">Fecha fin turno</th>

                     
                        </tr>
                    </thead>
                    <tbody>
                        <% turnos.forEach(turno=> { %>
                            <tr>
                                <td><%= turno.doctor%> </td>
                                <td><%= turno.name%> </td>
                                <td><%= turno.description%> </td>
                                <td><%= turno.start_date%> </td>
                                <td><%= turno.end_date%> </td>

                        

                          
                              
                            </tr>
                            <% }); %> 
                    </tbody>
                </table>
            </article>
  
    <% } %>
</section>
<div class="col-12 form-group d-flex flex-wrap justify-content-end">

    <a href="/turnos" class="btn btn-dark px-5">Volver</a>
</div>

</main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>